.auth-landing {
  display: flex;
  min-height: 100vh;

  background: url('https://res.cloudinary.com/htcompany-cloud/image/upload/w_1920/v1635427330/social-network/background/htc-landing_agtlks.png')
  no-repeat center center;
  background-size: cover;

  .logo {
    flex-basis: 100%;
    padding: 30vh 0 0 15vw;

    h3 {
      font-weight: 600;
      font-size: clamp(1.5rem, 5vw, 6rem);
      color: #5d88de;

      filter: drop-shadow(-4px 4px 0px rgba(75, 101, 226, 0.2));
    }

    p {
      font-weight: 300;
      font-size: 18px;
    }

    @media (max-width: 1280px) {
      padding: 35vh 3vw 0 5vw;
    }
  }

  .auth-wrapper {
    padding: 15vh 15vw 0 0;

    @media (max-height: 800px) {
      padding-top: 3rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .logo {
      display: none;
    }

    .auth-wrapper {
      padding: 2rem 2rem 0;
    }
  }
  @media (max-width: 425px) {
    .auth-wrapper {
      padding: 2rem 1rem 0;
    }
  }
}
